*.pptx
osa1/unicafe/package-lock.json
osa1/anekdootit/package-lock.json
osa2/half-stack/package-lock.json
osa2/maiden_tiedot/package-lock.json
osa2/maiden_tiedot/package-lock.json
osa2/muistiinpanot/package-lock.json
osa2/puhelinluettelo/package-lock.json
